* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: pink;
    background-image: url("background.png");
    display: grid;
    grid-template-rows: 5rem 1fr;
    heigth: 100vh;
}

.title {
    margin: 0;
    justify-content: center;
}

h1 {
    font-size: 3rem;
    font-family: "Sigmar One", cursive;
    color: #49add7;
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    grid-column: 2/3;
    grid-row: 2/3;
}

h2 {
    color: black;
    font-weight: bold;
    font-family: serif;
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: 30px;
    grid-column: 1/4;
}

h3 {
    color: black;
    font-size: 1.5rem;
    font-family: serif;
    text-align: center;
    font-weight: normal;
    padding-bottom: 1.5rem;
    grid-column: 2/3;
}

.slot {
    width: 110px;
    height: 110px;
    background: rgba(0, 0, 0, 0.9);
    padding: 10px 0 0 10px;
}

.hole {
    width: 90px;
    height: 90px;
    background: rgba(125, 137, 87, 0.3);
    border-radius: 25px;
}

.TRAIN .hole {
    background-image: url("train1.png");
    background-position: center;
    background-color: chocolate;
}

.PLANE .hole {
    background-image: url("plane.png");
    background-position: center;
    background-color: green;
}

/* .mouseOver .slot {
    background-color: blue;
} */
#board {
    display: flex;
    align-self: flex-end;
    align-items: center;
    justify-content: center;
}

.youWin {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.35);
    visibility: hidden;
    z-index: 200;
    align-items: center;
    width: 100rem;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    grid-row: 1/3;
}

.startModal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.35);
    visibility: visible;
    z-index: 200;
    align-items: center;
    width: 100rem;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    grid-row: 1/3;
}

.startModal.disappear {
    visibility: hidden;
}

.start.youWin {
    visibility: visible;
}

#instructions {
    background-color: #fff;
    position: relative;
    padding: 3rem;
    border-radius: 20px;
    text-align: center;
    align-content: flex-start;
    max-width: 60rem;
    max-height: 80%;
}

#message {
    background-color: #fff;
    position: absolute;
    padding: 3rem;
    border-radius: 20px;
    text-align: center;
    align-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    margin: black solid 3px;
    max-width: 60rem;
    min-height: 70%;
    align-items: center;
}

#resetting {
    font-weight: 500;
    font-size: 24px;
    position: absolute;
    bottom: 2rem;
    display: block;
    z-index: 102;
    font-align: center;
    background: #49add7;
    grid-column: 2/3;
    margin-top: 30px;
}
#startTheGame {
    font-weight: 500;
    font-size: 24px;
    position: absolute;
    bottom: 2rem;
    display: block;
    font-align: center;
    background: #49add7;
    left: 24rem;
}

.passport {
    display: flex;
    align-items: center;
    grid-column: 1/2;
    grid-row: 1/3;
    height: 12rem;
    width: 12rem;
    margin: 20px;
    left: 20px;
}
.visa {
    display: flex;
    height: 12rem;
    width: 12rem;
    border-radius: 30px;
    grid-column: 3/4;
    grid-row: 1/3;
    align-items: center;
}

.passportPage {
    /* background-image: url("passportpage.png"); */
    /* height: 15rem;
    width: 15rem; */
    margin: 0;
    border: 0;
    background-color: rgba(125, 137, 87, 0.7);
    /* background-image: url("notes.png"); */
    justify-content: center;
    grid-row: 1/2;
    border-radius: 40px;
    overflow: scroll;
}

ul {
    color: #49add7;
    font-weight: 900;
    font-family: "Rock Salt", cursive;
    font-size: 1.7rem;
    height: 1.5rem;
    text-decoration: underline;
}

li {
    font-size: 2rem;
    font-family: "Caveat", cursive;
    color: white;
    text-align: justify;
    align-self: flex-end;
    margin-left: 2rem;
}
.middlePage {
    display: grid;
    grid-template-columns: 20rem 1fr;
    grid-row: 2/3;
    padding: 3rem;
}

.sideBar {
    display: grid;
    grid-template-rows: 15rem 1fr;
    background: rgba(0, 0, 0, 0.7);
    max-height: 660px;
}
.picBar {
    display: grid;
    grid-row: 2/3;
    grid-template-columns: 1fr 1fr;
}
.wardrobe {
    grid-row: 1/2;
    position: absolute;
    z-index: 2;
    webkit-filter: drop-shadow(8px 8px 8px white);
    filter: drop-shadow(8px 8px 8px white);
}
.shirt {
    grid-row: 1/2;
    position: relative;
    z-index: 1;
    left: 50px;
    top: 55px;
    transition-property: left, top;
    transition-duration: 1.3s;
    visibility: hidden;
}
.shirt.movement {
    left: 190px;
    top: 295px;
    transform: rotate(360deg);
    visibility: visible;
}
.backpack {
    /* grid-row: 2/3; */
    align-self: flex-end;
    position: relative;
    z-index: 2;
    background: ;
    webkit-filter: drop-shadow(8px 8px 8px white);
    filter: drop-shadow(8px 8px 8px white);
}
.carryon {
    grid-row: 2/3;
}

/* .teams {
    grid-row: 3/4;
    display: grid;
    grid-template-columns: 1fr 1fr;
} */

/* .playerTrain {
    grid-column: 1/2;
    color: white;
    font-size: 2rem;
    background: chocolate;
    text-align: center;
}

.playerPlane {
    grid-column: 2/2;
    color: white;
    font-size: 2rem;
    background: green;
    text-align: center;
} */
